{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<div class='text-center'>
    <h4>In this E-Shop you can find so many adventures! </h4>
</div>
<br>
<hr>
<div class='text-center'>
<ul style="list-style: none;">
    <li>One Event Travels (Like Tiesto Concert)</li>
    <li>One Weekend travels</li>
    <li>Museums</li>
    <li>Saturday on the Beach in Spain</li>
    <li>Weekend in Forests</li>
    <li>Camping with Friends</li>
</ul>
<h5>and many more...</h5>

<hr>
<br>
<h3>Bus tickets, Museum tickets, driving from an Airport to the Place?</h3>
<h2>ALL INCLUDED!</h2>

</div>
{% endblock %}

