<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Adventure</title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        
        <link rel="stylesheet" type="text/css" href="{% static 'my_styles.css' %}">

    </head>

  </head>

  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="container px-4 px-lg-5">
         <a class="navbar-brand" href={% url 'offers' %}>Buy Adventure</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                 <li class="nav-item"><a class="nav-link active" aria-current="page" href={% url 'home' %}>Home</a></li>
                 <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                 <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" id="navbarDropdown" href={% url 'offers' %} role="button" data-bs-toggle="dropdown" aria-expanded="false">Travel Offers</a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <li><a class="dropdown-item" href="#!">All Products</a></li>
                         <li><hr class="dropdown-divider" /></li>
                         <li><a class="dropdown-item" href="#!">Popular Adventures</a></li>
                         <li><a class="dropdown-item" href="#!">New Adventures</a></li>
                     </ul>
                 </li>
             </ul>

             <a href="{% url 'login' %}">
              <button  class="btn btn-primary" type='submit'><i  class="fill me-1"></i>Log In
               <span class="bg-dark text-white ms-1 rounded-pill"></span>
              </button>
             </a>
             
              <a href="{% url 'register' %}">
                <button  class="btn btn-light" type='submit'><i  class="fill me-1"></i>Register
                 <span class="bg-dark text-white ms-1 rounded-pill"></span>
                </button>
               </a>
             
             <a href="{% url 'cart' %}" class="d-flex">
                 <button  class="btn btn-outline-dark" type='submit'><i  class="bi-cart-fill me-1"></i>Cart
                  <span class="badge bg-dark text-white ms-1 rounded-pill">{{ cart_count }}</span>
                 </button>
                </a>
         </div>
     </div>
 </nav>
    <!-- Header-->
    <header class="p-5 text-center bg-image" style="
    background-image: url('https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg');
    height: 400px;
    margin-top: 58px;
    ">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Take your next adventure...</h1>
            <p class="lead fw-normal text-white-50 mb-0">E-Shop for Adventures</p>
        </div>
    </div>
</header>

    {% block content %}
    {% comment %} Content {% endcomment %}
    {% endblock %}

     <!-- Footer -->
  <footer class="text-center text-lg-start bg-white text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

      <!-- Right -->
      <div>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">

        <div class="row mt-3">

          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>E-Shop for Adventures
            </h6>
            <p>
              Here you can find and buy adventure that you need right now. All shit included. Just one question: What it is going to be?
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold mb-4">Categories</h6>
            {% for category in links %}
            <p><a href="{{ category.get_url }}" class="text-reset">{{ category.category_name }}</a></p>
            {% endfor %}
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="text-secondary"></i>Vilnius, 10000, LT</p>
            <p><i class="text-secondary"></i>adventures.info@travel.com</p>
            <p><i class="text-secondary"></i>+ 37011110011</p>
            <p><i class="text-secondary"></i>+ 37011111100</p>
          </div>

        </div>

      </div>
    </section>

  
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">© 2022 Adventures</div>

  </footer>
  <!-- Footer -->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        {% comment %} <script src="../travelapp/static/js/scripts.js"></script> {% endcomment %}
    </body>
</html>
