{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y" style="background-color:rgb(212, 239, 223)">

        <div class="card mx-auto" style="max-width:500px; margin-top:50px;">
          <article class="card-body">
            {% include 'alerts.html' %}
            <header class="mb-4"><h4 class="card-title">Register</h4></header>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %} 
                
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>{{ form.first_name }}</div> 
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>{{ form.last_name }}</div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 form-group">
                            <label>E-mail</label>{{ form.email }}</div> 
                        </div>

                        <div class="form-row">
                        <div class="col-md-6 form-group">
                        <label>Phone Number</label>{{ form.phone_number }}</div>
                        </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Create password</label>
                            {{ form.password }}
                        </div> 
                        <div class="form-group col-md-6">
                            <label>Confirm password</label>
                            {{ form.confirm_password }}
                        </div> 
                        
                    </div>
                    <p>
                    {{ form.email.errors }}
                    {{ form.non_field_errors }}
                    <br>
                    </p>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>   
                    
                </form>
            </article>
        </div> 
    
        <p class="text-center mt-4">Have an account? <a href="{% url 'login' %}">Log In</a></p>
    </section>
 
        {% endblock %}


        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script {% static 'js/scripts.css' %}></script>
