{% extends "base.html" %}
{% load static %}

{% block content %} 
<section class="section-content padding-y table table-borderless table-shopping-cart">

<table class="table">
    <div class='text-center'>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Pre-Travel Check</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Double-check your boarding passes and itinerary.</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Check travel requirements for your destination.</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Research the Destination. Before travelling, do a little research about the places you'll be visiting.</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Check travel requirements for your destination.</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Put your passport in a safe place.</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Print all of your travel info/documents.</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Scan or photograph your passport, driver's license and credit cards.</td>
      </tr>
    </tbody>
  </table>
</div>
</section>

{% endblock %}