{% extends 'base.html' %}
{% load static %}

 {% block content %}
<section class="my-padd">
<div class="container">
	{% if 'search' in request.path %}
		<h2 >Search Result</h2>
	{% else %}
	    <br>
		<h2 >Adventures</h2>
		<!--Test-->
	{% endif %}  
</section>

<div class="row">
	<aside class="col-md-3 card-body"> 

<div class="card">
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
				<i class=""></i>
				<h6 class="title">Categories</h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_2">
			<div class="card-body">
                <a href="{% url 'offers' %}"> <b> All Adventures  </b> </a>
				<ul class="list-menu">
					{% for category in links %}
				<li><a href="{{ category.get_url }}">{{ category.category_name }}  </a></li>
					{% endfor %}
				</ul>

			</div>
		</div>
	</article>

</div> 

	</aside> 
	<main class="col-md-9">

<header class="mb-1 pb-3">
		<div class="form-inline">
			<span class="mr-md-auto">We found <b> {{ purchase_count }}</b> adventures for you!</span>

		</div>
</header>

<div class="row">

    <section class="py-5">
        <div class="container px-10 px-lg-10 mt-10">
            <div class="row gx-10 gx-lg-10 row-cols-2 row-cols-lg-3 justify-content-center">
            {% if purchases %}
              {% for purchase in purchases %}
                <div class="col mb-6">
                    <div class="card h-100">
                        <!-- Purchase image-->
						<a href="{{ purchase.get_url }}"> <img class="card-img-top" src ="{{ purchase.image.url }}"></img></a>
                        <!-- Purchase details-->
                        <div class="card-body p-3">
                            <div class="text-center">
								<a href="{{ purchase.get_url }}"><h5 class="fw-bolder">{{ purchase.purchase_name }}</h5> </a>
								<a>{{ purchase.category }} in {{ purchase.country }}</a>
                            </div>
							<div class="text-center"><a><b>{{ purchase.price }}€</b></a></div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-primary mt-auto" href="{% url 'add_cart' purchase.id %}">Add Adventure to Cart</a></div>
                        </div>
                    </div>
                </div>
              {% endfor %}

	{% else %}
	<div>
		<h2>No result found. Please try again.</h2>
	</div>
	{% endif %}
</div> 

<nav class="mt-4" class="pagination" aria-label="Page navigation sample">
	{% if purchases.has_other_pages %} 
	<ul class="pagination">
		{% if purchases.has_previous %}
	     <li class="page-item"><a class="page-link" href="?page={{ purchases.previous_page_number }}">Previous</a></li>
		 {% else %}
	      <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
		  {% endif %}
		  
		  {% for p in purchases.paginator.page_range %}
		   {% if purchases.number == p %}
	        <li class="page-item active"><a class="page-link" href="#">{{p}}</a></li>
			{% else %}
			<li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
			{% endif %}
		   {% endfor %}
		   {% if purchases.has_next %}
	        <li class="page-item"><a class="page-link" href="?page={{ purchases.next_page_number}}">Next</a></li>
		   {% else %}
		    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
		   {% endif %}
	</ul>
	{% endif %}
  </nav>


	</main> 

</div>

</div> 
</section>


{% endblock %}