{% extends 'base.html' %}
{% load static %}

 {% block content %}
 <section class="section-content padding-y bg " style="background-color:rgb(212, 239, 223)">
    <div class="container">
 <main id="main" class="site-main main">
    <section class="section">
      <div class="container">
        <div class="row">
            <div class="container container--xs">
                <h1 class="mb-1 text-center">Thank you!</h1>
                <div class="fs-14 text-gray text-center mb-5">
                    <p>We will make a great adventure together!</p>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
</div>
</section>


{% endblock %}