{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
        <div class="img-big-wrap">
           <a href="#"><img src="{{ single_purchase.image.url }}"></a>
        </div> 
        
    </article> 
            </aside>
            <main class="col-md-6 border-left">
    <article class="content-body">
    
    <h2 class="title">{{single_purchase.purchase_name}}</h2>
    
    <div class="mb-3"> 
        <var class="price h4">{{single_purchase.price}}€</var> 
    </div> 
    
    <p>{{ single_purchase.description }}</p>
    
    
    <hr>
        <div class="row">
            <div class="item-option-select">
                <h6>Choose Date</h6>
                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-light">
                    <input type="radio" name="radio_color"> 2023.02.20
                  </label>
                  <label class="btn btn-light">
                    <input type="radio" name="radio_color" > 2023.05.05
                  </label>
                  <label class="btn btn-light active">
                    <input type="radio" name="radio_color checked"> 2025.06.17
                  </label>
                  <label class="btn btn-light">
                    <input type="radio" name="radio_color"> 1023.05.05
                  </label>
                </div> 
            </div>
        </div> 
 
        <hr>

        {% if single_purchase.tickets <= 0 %}   
         <h5> Not Available <h5>
           {% else %}
              {% if is_in_cart %}
               <a href="" class="btn btn-success"> <span class="text">Added</span></a>
               <a href="{% url 'cart' %}" class="btn btn-secondary"> <span class="text">View Cart</span></a>
            {% else %}
              <a href="{% url 'add_cart' single_purchase.id %}" class="btn  btn-primary"> <span class="text">Add to cart</span></i>  </a>
            {% endif %}
         {% endif %}

    </article>
            </main> 
        </div> 
    </div> 

    <br>
    
    <div class="row">
                <div class="col-md-6">
    


        <form action="{% url 'post_review' single_purchase.id %}" method="POST">
            {% csrf_token %}
            {% include 'alerts.html' %}
            {% if user.is_authenticated %}
            <h6><b>Write Your Review</b></h6>

                <div>
                    <label>Rating: </label>
                    <br>
                    <div class="rate">
                    <input type="radio" name="rating" id="rating5" value="5" required></input><label for="rating5" title="5"></label>
                    <input type="radio" name="rating" id="rating4" value="4" required></input><label for="rating4" title="4"></label>
                    <input type="radio" name="rating" id="rating3" value="3" required></input><label for="rating3" title="3"></label>
                    <input type="radio" name="rating" id="rating2" value="2" required></input><label for="rating2" title="2"></label>
                    <input type="radio" name="rating" id="rating1" value="1" required></input><label for="rating1" title="1"></label>
                </div>
                <br></br>
                    Review Title:
                    <input type="text" class="form-control" name="subject" required></input>
                    Review:
                    <textarea class="form-control" name="review" rovs="5" cols="70"></textarea>
                    <br>
                    <input type="submit" value="Post Review" class="btn btn-primary"></input>
                    {% else %}
                    <p>You must log in to write a review.<span><a href="{% url 'login' %}">Log in</a></span></p>
                    {% endif %}
                </div>

        </form>
        <br></br>

        <header class="section-heading">
            <h3>Customer Reviews </h3>  
            
        </header>
        <article class="box mb-3">
            <div class="icontext w-100">
                <img src="{% static '/images/img/no-image.png' %}" class="img-xs icon rounded-circle">
                <div class="text">
                    <span class="date text-muted float-md-right">24.04.2022 </span>  
                    <h6 class="mb-1">Sima Simona </h6>
                    
                </div>
            </div> 
            <div class="mt-3">
                <p>
                    Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip
                </p>	
            </div>
        </article>
    
        </div> 
    </div> 
    
    
    </div> 
    </section>
    
    </body>
    </html>

{% endblock %}
